/* The over all width of both the dashboard menu and the chat messages */
.rootLayout {
  padding: 0px 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center; /* center vertically */
    justify-content: space-between; /* saparate horizontally */

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 8px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  main {
    flex: 1;
  }
}
