.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */

  .wrapper {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling */
    width: 100%;
    display: flex;
    justify-content: center;

    /* The ai's response message */
    .chat {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      /* Full height minus form space to make sure the generated text will not overlap the input field*/
      height: calc(100vh - 1px);

      p,
      li {
        margin: 10px 0px; /* Space between chat items */
      }

      .message {
        padding: 5px 20px;

        &.user {
          background-color: #37393b;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }
    /* Mobile (up to 768px) */
    @media screen and (max-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      /* Full height minus form space to make sure the generated text will not overlap the input field*/
      height: calc(100vh - 120px);
    }
  }
}
