/* Space out paragraphs and blocks in react-markdown chat messages */
.message > *:not(:last-child) {
  margin-bottom: 2em;
}
.endChat {
  /* To make sure the generated text will not overlap the input field */
  padding-bottom: 70px;

  /* Mobile (up to 768px) */
  @media screen and (max-width: 768px) {
    /* To make sure the generated text will not overlap the input field */
    padding-bottom: 0px;
  }
}

.newForm {
  background-color: #37393b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  width: 75%;
  margin-top: auto;

  /* Fixed position at bottom */
  position: fixed;
  bottom: 20px;

  /* Mobile (up to 768px) */
  @media screen and (max-width: 768px) {
    padding: 0px 20px;
    width: 95%;
    margin-top: auto;

    /* Fixed position at bottom */
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }

  input {
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ececec;
  }

  button,
  label {
    border-radius: 50%;
    background-color: #605e68;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
